@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* width */
body::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 99px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.tab{
    @apply after:rounded-full hover:text-[#B78A28] after:absolute relative 
}

.tab-active{
    @apply after:rounded-full hover:text-[#B78A28] text-[#B78A28] after:w-[100%] after:bottom-[-11px] after:left-0 after:h-1 after:bg-[#B78A28] after:absolute relative
}

.tab-account-index{
    @apply bg-[#B78A28] rounded-sm text-white text-[14px] select-none
}

.tab-account{
    @apply rounded-sm hover:text-[#B78A28] text-[14px] select-none
}